/* some style */

.video-item {
  border: 1px solid #CCC;
  padding: 8px 15px;
  list-style: none;
  line-height: 26px;
}

.clearleft {
  clear: left;
}

.description {
  margin-left: 20px;
  float: left;
  line-height: 50px;
}

.item__votes {
  float: left;
}

.votes {
  text-align: center;
}

.votes i {
  font-size: 20px;
  -webkit-user-select: none;
  color: #777;
  font-size: 20px;
}

.votes__plus {
  margin-right: 10px;
}

.votes__score {
  color: #777;
  font-size: 26px;
}
